#formGrid {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  margin: 10%;
  height: 250px;
  width: 400px;
}
#front-card {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  z-index: 2;
  background: lightgrey;
  border-radius: 5px;
  box-shadow: 3px 3px 10px slategrey;
}
#back-card {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  z-index: 1;
  background: lightgrey;
  border-radius: 5px;
  box-shadow: 3px 3px 10px slategrey;
}
button {
  margin: 10px;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  border-radius: 5px;
  box-shadow: 3px 3px 10px slategrey;
}
.front-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 10px;
}           
.back-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  margin: 10px 0;
}
.total {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  place-self: start start;
}
.chip {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  place-self: start end;
  padding-top: 15px;
}
.chip img {
  width: 40px;
  height: 25px;
  display: block;
}
#cardNumber {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  place-self: start start;
}
#cardHolder {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  place-self: start start;
}
#cardNumber input, #cardHolder input {
  width: 85%;
}
#cardExpiration {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
#cardExpiration input {
  width: 2.5rem;        /* cap (adjust to taste) */
  max-width: 100%;
  box-sizing: border-box;
  display: inline-block; /* ensures they can sit side-by-side */
  vertical-align: top;
}
#magstrip {
  background: black;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
#cvv {
  grid-column: 2 / 3;
  grid-row: 3/4;
  width: 3rem;
  align-self: end;
}
#cvv label {
  display: block;
  width: 100%;
}
#cvv input {
  width: 3rem;
}